<!DOCTYPE html>
<html>

<head>
    <title>Генератор диктантов</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_dictation_generator.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- FancyTree -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2/dist/skin-lion/ui.fancytree.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.38.2/dist/jquery.fancytree-all-deps.min.js"></script>

    <!-- WaveSurfer -->
    <script src="https://unpkg.com/wavesurfer.js"></script>
</head>

<body>
    <div class="topbar">
        <h1>DikteApp</h1>
        <div class="user-panel">
            <h1 id="user">Пользователь</h1>
        </div>
    </div>


    <div class="panel">
        <div class="container" style="display: flex">
            <div id="langPair" data-original="{{ original_language }}" data-translation="{{ translation_language }}">
                {{ original_language }} ⇒ {{ translation_language }}
            </div>
            <h1 id="dictation-id">Новый диктант: </h1>
        </div>


        <div class="container">
            <div style="display: flex; align-items: center; gap: 10px;">
                <div class="tooltip-wrapper">
                    <button id="openTreeDialogBtn" onclick="openCategoryModal('root')">⋯</button>
                    <pre class="tooltip-text">Выбрать категорию</pre> <!-- подсказка -->
                </div>
                <pre id="modalTitle">Категория: </pre>
                <!-- Диалоговое окно для работы с деревом -->
                <div id="modalOverlay" class="modal-overlay"></div>
                <div id="categoryModal" class="modal" style="display:none;">
                    <h4>Выберите ветку</h4>
                    <div id="treeContainer"></div>

                    <div class="tooltip-wrapper">
                        <button id="btnAddNode"> ➕ </button>
                        <div class="tooltip-text">Новый элемент</div> <!-- подсказка -->
                    </div>

                    <div class="tooltip-wrapper">
                        <button id="btnDeleteNode"> 🗑️ </button>
                        <div class="tooltip-text">Удалить элемент</div> <!-- подсказка -->
                    </div>

                    <div class="tooltip-wrapper">
                        <button id="btnCancelCategory">❌ </button>
                        <div class="tooltip-text">Отмена</div> <!-- подсказка -->
                    </div>

                    <div class="tooltip-wrapper">
                        <button id="btnSelectCategory">✅ </button>
                        <div class="tooltip-text">Выбрать</div> <!-- подсказка -->
                    </div>
                </div>
                <!-- онокнчание ---- Диалогового окна для работы с деревом -->
            </div>
        </div>

        <label>Title:</label>
        <div class="form-group-line">
            <label>{{ original_language }}:</label>
            <input type="text" id="title" required>
        </div>
        <div class="form-group-line">
            <label>{{ translation_language }}:</label>
            <input type="text" id="title_translation" required>
        </div>

        <div class="form-group-line">
            <label>Загрузить аудио:</label>
            <!-- <div class="tooltip-wrapper">
                <label>. . .</label>
                <div class="tooltip-text">Загрузить аудио</div> 
              </div> -->
            <input type="file" id="audioFile" accept="audio/*">
        </div>

        <div class="audio-dependent-column-display ">
            <div id="waveform" style="height: 100px; margin-bottom: 10px;"></div>
            <div id="currentPhraseInfo">
                <div id="currentText"></div>
                <div id="currentTimes">
                    Start: <span id="startTime">–</span> —
                    End: <span id="endTime">–</span>
                </div>
            </div>
        </div>

        <div id="formGroupRaw" class="form-group form-raw">
            <div class="form-group">
                <label>Текст по фразам (фраза - отдельная строка, перевод начинается с /*):</label>
                <textarea id="text" rows="10"></textarea>
            </div>
            <button id="split-btn">Разбить на фразы и озвучить</button>
        </div>

        <table id="sentences-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Предложение (оригинал/перевод)</th>
                    <th>Запись</th>
                    <th>Аудио</th>
                    <th class="audio-dependent-column-display ">Start</th>
                    <th class="audio-dependent-column-display ">End</th>
                    <th class="audio-dependent-column-display ">Источник</th>
                </tr>
            </thead>
            <tbody>
                <!-- Строки будут добавляться через JavaScript -->
            </tbody>
        </table>

    </div>

    <script src="{{ url_for('static', filename='script_dictation_generator.js') }}"></script>
</body>

</html>