<!DOCTYPE html>
<html>

<head>
    <title>Генератор диктантов</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="topbar">
        <h1>DikteApp</h1>
        <div class="user-panel">
            <button id="language-toggle">
                <img src="{{ url_for('static', filename='flags/ru.svg') }}" width="20">
                <span>RU</span>
            </button>
            <span>Пользователь</span>
        </div>
    </div>




    <div class="container">
        <h1 id="dictation-id">Новый диктант</h1>


        <div class="form-group">
            <label>Title (English):</label>
            <input type="text" id="title" required>
        </div>
        <div class="form-group">
            <label>Title (Russian):</label>
            <input type="text" id="title_translation" required>
        </div>


        <div id="modal">
            <div style="display: flex; align-items: center; gap: 10px;">
                <button id="openTreeDialogBtn">⋯</button>
                <h3 id="modalTitle">tree branch</h3>
            </div>
        </div>

        <!-- Диалоговое окно для работы с деревом -->
        <div id="treeDialog"
            style="display:none; padding: 20px; border: 1px solid #ccc; background: #fff; position: fixed; top: 20%; left: 50%; transform: translateX(-50%); box-shadow: 0 0 10px rgba(0,0,0,0.3);">
            <h4>Выберите ветку</h4>
            <div id="treeNavigation">
                <!-- Здесь динамически появится дерево -->
            </div>
            <button id="createBranchBtn">Новая ветка</button>
            <button id="deleteBranchBtn">Удалить ветку</button>
            <button id="closeTreeDialogBtn">Закрыть</button>
        </div>




        <div class="form-group">
            <label>Текст (по предложениям):</label>
            <textarea id="text" rows="10"></textarea>
        </div>


        <div class="settings">
            <select id="language">
                <option value="en">en</option>
                <option value="tr">tr</option>
            </select>
            <button id="split-btn">Разбить на предложения</button>
        </div>

        <table id="sentences-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Предложение (оригинал/перевод)</th>
                    <th>Аудио</th>
                </tr>
            </thead>
            <tbody>
                <!-- Строки будут добавляться через JavaScript -->
            </tbody>
        </table>

        <button id="save-btn" onclick="saveDictation()">Сохранить JSON + MP3</button>
    </div>

    <script src="{{ url_for('static', filename='script_dictation_generator.js') }}"></script>
</body>

</html>