<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Dikte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="topbar">
        <h1>DikteApp</h1>
        <div class="user-panel">
            <button id="language-toggle">
                <img src="{{ url_for('static', filename='flags/ru.svg') }}" width="20">
                <span>RU</span>
            </button>
            <span>Пользователь</span>
        </div>
    </div>
    <div class="panel">
        <h2> Диктант: {{ title_orig }}</h2>
        <h4 id="diktation_id"> {{ dictation_id }} </h4>
        <!-- Счетчик предложений -->
        <div class="sentence-counter" id="sentenceCounter">
            <!-- будет подставлено из JS -->
        </div>
        <style>
            .audio-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                /* Отступ между элементами */
            }
        </style>
        <div style="display: flex; gap: 10px;">
            <audio id="audio" controls>
                <!-- Источник будет установлен через JS -->
                Ваш браузер не поддерживает аудио!
            </audio>
            <audio id="audio_tr" controls>
                <!-- Источник будет установлен через JS -->
            </audio>
        </div>

        <div id="userInput" contenteditable="true" class="text-input"></div>

        <button id="checkBtn" onclick="checkText()">Проверить</button>

        <div class="button-group">
            <button id="checkRepit" onclick="clearText()">Повторить</button>
            <button id="checkNext" onclick="nextSentence()">Следующий</button>
        </div>

        <!-- Поле с правильной подсказкой -->
        <div id="correctAnswer" class="text-output"></div>

        <!-- Перевод — показывать только при 100% правильности -->
        <div id="translation" style="margin-top:10px; display:none;"></div>

    </div>

    <script id="sentences-data" type="application/json">
        {{ sentences | tojson | safe }}
    </script>
    <script src="{{ url_for('static', filename='script_dictation.js') }}"></script>

</body>

</html>