<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная — Диктанты</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style_color.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_index.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- FancyTree -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2/dist/skin-lion/ui.fancytree.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.38.2/dist/jquery.fancytree-all-deps.min.js"></script>

</head>

<body>
    <div class="topbar">
        <div class="topbar">
            <img src="/static/icons/logo.svg" class="logo">
        </div>
        <div class="user-section">
            <button class="username">Пользователь</button>
            <button class="streak">🔥 4 дня подряд</button>
        </div>
    </div>

    <div class="panel">
        <h2>Список диктантов</h2>
        <div class="button-row">
            <div class="tooltip-wrapper">
                <button id="btnAddNode"> + </button>
                <div class="tooltip-text">Новый элемент</div>
            </div>
            <div class="tooltip-wrapper">
                <button id="btnDeleteNode"> 🗑️ </button>
                <div class="tooltip-text">Удалить элемент</div>
            </div>
            <a
                href="{{ url_for('dictation_generator.dictation_generator', language_original='en', language_translation='ru') }}">
                <button id="newDictationBtn">+ Новый диктант</button>
            </a>
        </div>

        <div id="container">
            <div id="leftPanel">
                <div class="tree-header">
                </div>
                <div id="treeContainer"></div>
            </div>

            <div id="resizer"></div>

            <div id="rightPanel">
                <div id="text_tree_branch">ветка дерева</div>
                <div id="content">
                    <!-- <div id="dictationList"></div> -->
                    <div id="dictationsGrid" class="shorts-grid"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script_index.js') }}"></script>
</body>

</html>