{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </div>
    <div>
        {{ form.native_lang.label }}<br>
        {{ form.native_lang(size=32) }}
    </div>
    <div>
        {{ form.learning_langs.label }}<br>
        {{ form.learning_langs }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}


<!-- <!DOCTYPE html>
<html>
<body>
    <h1>Тестовая страница регистрации</h1>
    <p>Если это видно — шаблон работает!</p>
</body>
</html> -->
